<head>
	<title> Fallback Website </title>
</head>

<body>
	<div class="container">
		<font face="verdana" size='7'>Ward's 2022 Tour Divide (Fallback Mode)</font> <br/><br/>
		<div id='Title' style='width: 95%; height:700px;'>
		    <ul> If you are seeing this message, the primary website has failed for an unknown reason. Please try the link before for the failsafe website</ul>
		    <ul><a href="https://maps.findmespot.com/s/R3JP">https://maps.findmespot.com/s/R3JP</a></ul>
		</div><br/>
	</div>
</body>

</html>